# --- Core API & Server ---
fastapi
uvicorn
python-multipart
pydantic
httpx

# --- AI & Graph Routing ---
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-groq
langgraph
langchain-chroma
langchain-huggingface

# --- Vector DB & Embeddings ---
chromadb
sentence-transformers

# --- Computer Vision & Deep Learning ---
opencv-python-headless
numpy
Pillow
timm

# Force CPU-only to prevent Render from running out of memory
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision

# --- Video Stream SDK ---
getstream

# --- Utilities & Document Loaders ---
python-dotenv
pypdf
docx2txt